/* my style */
/**/
body{
	background-color:#f5f5f5;
}
.box-shadow{
	webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}
.content-area{
	background-color:#fff;
	border-radius:5px;
	padding:10px;
}
.title{
    margin: 0;
    font-size: 22px;
    line-height: 58px;
    color: #333;
}
.row-bottom{
	border:1px solid #fff;
	background-color:#fff;
	padding:10px 10px;
	border-radius:2px;
	margin-bottom:18px;
}
.sider-mp{
	padding:5px;
	margin-left:5px;
}
.bottom-line{
	padding-bottom:20px;
	border-bottom:1px solid #cecece;
}
.edit-bar{
	margin-bottom:5px;
}
.span-margin-left{
	margin-left:5px;
}
.span-margin-right{
	margin-right:10px;
}
.msg-color{
	background-color:#DE1E2C;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding:3px;
	vertical-align: 2px;
}
.page-header{
	margin-top:50px;
}
.bg1 {
    background-image: url(../image/admin/noise.png), url(../image/admin/6.jpg);
    background-repeat: repeat, no-repeat;
    background-position: left top;
    background-size: auto, cover; 
}
.bgrgba{
	border:0px;
	background-color: rgba(0, 0, 0, 0.8);
}
.nav > li:hover{
	background-color: #000;
}
.container-article-new{
	background-color:#fff;
	margin-top:10px;
	margin-bottom:30px;
}
.subject-article-new{
	margin:15px 0;
}
.submit-div{
	margin-top:10px;
	margin-bottom:10px;
	float:right;
}
.list-link{
	font-size: 22px;
	font-weight: 600;
	text-decoration:none;
}
.list-link:hover{
	color:#428bca;
	text-decoration:none;
}
.list-content{
    margin-bottom:10px;
}
.list-img{
    float:left;
	margin-right:10px;
}
.list-img img{
    width:200px;
	height:140px;
	margin:5px 5px;
}
.list-tip{
	margin-bottom:10px;
}
.list-tip span{
	color:#999;
	margin:0px 10px;
}
.list-tip span a{
	color:#999;
}
.shownotice{
	border-radius:5px;
	border:1px solid #cecece;
}
.editor-notice{
	color:red;
	margin-right:10px;
}
.com-tip{
	color:#999;
}
.com-tip span{
	margin:0px 10px;
}
.com-tip a{
	color:#999;
}
.edit-bottom div{
	margin-top:10px;
	display:inline-block;
}
#article_subject{
	font-weight:bold;
}
.comment-item{
	border:1px solid #fff;
	background-color:#fff;
	padding:5px;
	border-radius:5px;
}